@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
@font-face {
  font-family: 'Glyphicons Halflings';
}

body {
  font-family: 'Arimo', sans-serif;
  background: url('stack_background5.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.front {
  margin-top: 350px;
}

.container {
}

#app {
  color: #fff;
  font-size: 1em;
}


#app h1 {
  color: #fff;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 100px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

#app p {
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 1.5em;
  margin-bottom: 20px;
}

#main .navbar {
  display: flex;
  border: none;
  background-color: transparent;
  justify-content: flex-start;
  margin-top: 50px;
  margin-right: 50px;
  flex-direction: row-reverse;
}

#main .navbar a {
  color: #fff;
  text-decoration: none;
}

.btn-primary{
  border: 1px solid #fff;
  background-color: transparent;
  margin-left: 10px;
  text-align: center;
  -webkit-transition: .2s;
  -moz-transition: .2s;
  transition: .2s;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
  background-color: #2c3e50;
  border: 1px solid #2c3e50;
}

.btn-primary:hover a:hover {
  color: #fff;
}

.form-control {
  max-width: 500px;
}

.input-group {
  display: flex;
  justify-content: center;
}

.item {
  display: flex;
  border-bottom: 1px solid #3e424a;
  flex-direction: initial;
}

.item p {
  padding-top: 10px;
}

#jobs {
}

#jobs p {
  font-family: 'Arimo', sans-serif;
  font-size: 1em;
  color: #2c3e50;
  padding: 10px;
}

#jobs .panel-default {
/*  border: 1px solid #1abc9c;
*/  min-height: 300px;
}

#jobs .panel-body {
  min-height: 200px;
}


#jobs .panel-heading {
  background-color: #1abc9c;
  color: #fff;
}

#jobs a {
  text-decoration: none;
}

#jobs .panel-footer span {
  color: #2c3e50;
}

svg {
  background-color: #fff;
}

.d3 {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  margin-top: 100px;
}

.results {
  background-color: #fff;
  color: #16a085;
}

.results .navbar-fixed-top {
  background-color: #fff;
  height: 70px;
}

.results .navbar a {
  color: #16a085;
}

.selection h3 {
  color: #16a085;
}

.footer {
  background-color: #2c3e50;
  display: flex;
  margin: 0 -15px 0 -15px;
  min-height: 250px;
}

.footer p {
  color: #fff;
}

.footer a {
  color: #fff;
  text-decoration: none;
}


.logo-headline {
  display: flex;
  flex-direction: row;
  margin-left: 70px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.left {
   /* This will be twice as big as the small item. */
   -webkit-flex: 2 0 0;
   flex: 2 0 0;
}
.right {
   -webkit-flex: 1 0 0;
   flex: 1 0 0;
}

.right .btn-primary{
  border: 1px solid #fff;
  background-color: transparent;
  margin-left: 10px;
  margin-top: 15px;
}

.right .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #3998d7;
    background-color: #fff;
    border-color: #285e8e; /*set the color you want here*/
}

#bar0 rect{
  fill: #f39c12;
}

#bar1 rect{
  fill: #30A2E6;
}

#bar2 rect{
  fill: #E60900;
}


/* Input Placeholder Styles */
.form-control::-webkit-input-placeholder { color: #1abc9c;; }
.form-control:-moz-placeholder { color: #1abc9c;; }
.form-control::-moz-placeholder { color: #1abc9c;; }
.form-control:-ms-input-placeholder { color: #1abc9c;; }

/* Flash Messages */

.hide {
  display: none;
}

/* Main Search Styles */

.search-wrapper {
  background-color: #fff;
  padding: 10px;
  border-radius: 10px;
}

.search-wrapper .form-control {
  color: #16a085;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-wrapper .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.search-wrapper .input-group {
  background-color:rgba(0,0,0,0) !important;
  border:none !important;
  box-shadow:none !important;
  outline: 0 !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.search-wrapper .glyphicon {
  color: #1abc9c;
  margin: 7px;
}

.search-wrapper .form-control {
  background-color: transparent;
  border: none;
}

.search-wrapper .btn-primary {
  background-color: #1abc9c;
  border: none;
}


/* Login Styles */

.loginbox {
  background-color: #fff;
  width: 500px;
  padding: 50px;
  margin-top: 150px;
  border-radius: 20px;
}

.loginbox a {
  color: #1abc9c;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.loginbox .form-control {
  color: #16a085;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loginbox .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.loginbox .input-group {
  background-color:#ecf0f1 !important;
  border:none !important;
  box-shadow:none !important;
  outline: 0 !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.loginbox .glyphicon {
  color: #1abc9c;
  margin: 7px;
}

.loginbox .form-control {
  background-color: #ecf0f1;
  border: none;
}

.loginbox .btn-primary {
  width: 100%;
  height: 35px;
  background-color: #1abc9c;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 0px;
}

.gray {
  background-color: #ecf0f1;
  padding: 2px;
  border-radius: 20px;
}

.root {
  margin-bottom: 20px;
}

.fit {
  width: 90%;
}

#small-link a {
  font-size: 1em;
  text-decoration: none;
  text-align: center;
  margin-bottom: 0px;
}

#small-link p {
  font-size: 1em;
  color: #2c3e50;
  margin-top: 20px;
}

.loginMain .alert {
  margin-top: 100px;
}

/* Dashboard Styles */

#dashboard {
  margin-top: 70px;
}

#dashboard .color {
  color: #1abc9c;
}

#dashboard h1 {
  color: #2c3e50;
  font-size: 40px;
}

.under-nav {
  margin-top: 150px;
}

/* Dashboard Input Styles */

.dashboardbox {
  background-color: #fff;
  width: 500px;
  padding: 50px;
  margin-top: 150px;
  border-radius: 20px;
}

.dashboard a {
  color: #1abc9c;
  text-decoration: none;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: -1px;
  line-height: 1;
  text-align: center;
  margin-bottom: 20px;
}

.dashboard .form-control {
  color: #16a085;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dashboard .form-control:focus {
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dashboard .input-group {
  background-color:#ecf0f1 !important;
  border:none !important;
  box-shadow:none !important;
  outline: 0 !important;
  -webkit-appearance:none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.dashboard .glyphicon {
  color: #1abc9c;
  margin: 7px;
}

.dashboard .form-control {
  background-color: #ecf0f1;
  border: none;
}

.dashboard .btn-primary {
  width: 100%;
  height: 35px;
  background-color: #1abc9c;
  border: none;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 0px;
}

.dashboard-row {
  width: 500px;
}
